# Relatório de Análise I

## Importando a base de dados

In [26]:
import pandas as pd

In [27]:
# Configurando os separados das colunas dos dados
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [28]:
# Obtendo informações sobre o Dataframe
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

## Informações gerais sobre a base de dados

In [29]:
dados.dtypes

Tipo           object
Bairro         object
Quartos         int64
Vagas           int64
Suites          int64
Area            int64
Valor         float64
Condominio    float64
IPTU          float64
dtype: object

In [30]:
tipos_de_dados = pd.DataFrame(dados.dtypes, columns=['Tipos de dados'])

In [31]:
tipos_de_dados.columns.name = 'Variáveis'

In [32]:
tipos_de_dados

Variáveis  Tipos de dados
Tipo               object
Bairro             object
Quartos             int64
Vagas               int64
Suites              int64
Area                int64
Valor             float64
Condominio        float64
IPTU              float64

In [33]:
# Quantidade de linhas/registros x quantidade de colunas/variáveis
dados.shape

(32960, 9)

In [34]:
# Quantidade de linhas/registros
quantidade_registros = dados.shape[0]

# Quantidade de variáveis 
quantidade_variaveis = dados.shape[1]

In [35]:
print(f'A base de dados apresenta {quantidade_registros} (imóveis) e {quantidade_variaveis} variáveis')

A base de dados apresenta 32960 (imóveis) e 9 variáveis