# Relatório de Análise II

## Tipos de Imóveis

In [9]:
import pandas as pd

In [10]:
dados = pd.read_csv('dados/aluguel.csv', sep=';')

In [11]:
tipo_imovel = dados['Tipo']

In [12]:
# Tipo Series: array unidimensional
type(tipo_imovel)

pandas.core.series.Series

In [13]:
# Removendo valores repetidos, parâmetro inplace servirá para modificar a variável aplicando o método utilizado
tipo_imovel.drop_duplicates(inplace=True)

In [14]:
tipo_imovel

0                          Quitinete
1                               Casa
2            Conjunto Comercial/Sala
3                        Apartamento
7                 Casa de Condomínio
16                    Prédio Inteiro
17                              Flat
29                        Loja/Salão
80           Galpão/Depósito/Armazém
83                    Casa Comercial
117                     Casa de Vila
159                   Terreno Padrão
207                      Box/Garagem
347                             Loft
589      Loja Shopping/ Ct Comercial
2157                         Chácara
3354           Loteamento/Condomínio
4379                           Sítio
4721                   Pousada/Chalé
6983                          Studio
9687                           Hotel
23614                      Indústria
Name: Tipo, dtype: object

## Organizando a visualização

In [15]:
# Pegar o tamanho do tipo de imóvel através do formato 
tipo_imovel_tamanho = tipo_imovel.shape[0]

tipo_imovel_range_index = range(tipo_imovel_tamanho)

tipo_imovel = pd.DataFrame(tipo_imovel)

tipo_imovel.index = tipo_imovel_range_index

tipo_imovel.columns.name = 'Id'

In [16]:
tipo_imovel

Id                         Tipo
0                     Quitinete
1                          Casa
2       Conjunto Comercial/Sala
3                   Apartamento
4            Casa de Condomínio
5                Prédio Inteiro
6                          Flat
7                    Loja/Salão
8       Galpão/Depósito/Armazém
9                Casa Comercial
10                 Casa de Vila
11               Terreno Padrão
12                  Box/Garagem
13                         Loft
14  Loja Shopping/ Ct Comercial
15                      Chácara
16        Loteamento/Condomínio
17                        Sítio
18                Pousada/Chalé
19                       Studio
20                        Hotel
21                    Indústria