In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel.csv',sep=';')

In [3]:
# Faixas de valor
# 1 e 2 quartos
# 3 e 4 quartos
# 5 e 6 quartos
# 6 e mais quartos

classes = [0, 2, 4, 6, 100]

In [4]:
# Use cut quando precisar segmentar e classificar valores de dados em compartimentos.
# Esta função também é útil para passar de uma variável contínua para uma variável categórica. 
# Por exemplo, cortar pode converter idades em grupos de faixas etárias.

quartos = pd.cut(dados.Quartos, classes)

In [5]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (2.0, 4.0]
            ...
19826    (0.0, 2.0]
19827    (0.0, 2.0]
19828    (0.0, 2.0]
19829    (0.0, 2.0]
19830           NaN
Name: Quartos, Length: 19831, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [6]:
# Gerando visualização da tabela de frequência
# O ( representa o início da contenção dos dados (Ex: a partir de 0, não contando ele)
# O [ representa o fechamento do intervalo
# Ex: (0.0, 2.0] o início do intervalo é a partir de 0 e termina em 2, ou seja, contemplam os números 1 e 2

pd.value_counts(quartos)

(0, 2]      11074
(2, 4]       8094
(4, 6]        470
(6, 100]       36
Name: Quartos, dtype: int64

In [7]:
labels = ['1 - 2 quartos', '3 - 4 quartos', '5 - 6 quartos', '7 ou mais quartos']

quartos = pd.cut(dados.Quartos, classes, labels=labels)

pd.value_counts(quartos)

1 - 2 quartos        11074
3 - 4 quartos         8094
5 - 6 quartos          470
7 ou mais quartos       36
Name: Quartos, dtype: int64

In [8]:
# Como pode ter a possibilidade de existir 0 quartos, podemos incluí-los na menor classe
quartos = pd.cut(dados.Quartos, classes, labels=labels, include_lowest=True)

pd.value_counts(quartos)

1 - 2 quartos        11231
3 - 4 quartos         8094
5 - 6 quartos          470
7 ou mais quartos       36
Name: Quartos, dtype: int64